<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div class="container" id="app" v-cloak>
      <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps">
          <ul class="steps-list">
            <li
              class="steps-item"
              v-for="(step, index) in steps"
              key="step"
              :class="{done: index < activeIndex, active: index === activeIndex}"
              @click="setActive(index)"
            >
              <span>{{index+1}}</span> {{steps[index].title}}
            </li>
          </ul>
          <div class="steps-content">{{steps[activeIndex].text}}</div>
          <div>
            <button class="btn" @click="reset()" v-if="finished">
              Начать заново
            </button>

            <div v-else>
              <button class="btn" :disabled="activeIndex<=0" @click="prev()">
                Назад
              </button>

              <button class="btn primary" @click="nextOrFinish()">
                <span v-if="currentStep === steps.length">Закончить</span>
                <span v-else>Вперед</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="vue.js"></script>
  </body>
</html>
